@{
    ViewBag.Title = "MainView";
    Layout = "~/Views/_Layout.cshtml";
}
<html>
<body>
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>What This Application Do</h2>
            <hr>
            <p>You con manage your contact information at one place here. Find list of available services displayed below.</p>
            <ul class="list-group">
                <b><u><li class="list-group-item">Available Services</li></b></u>
                <li class="list-group-item list-group-item-primary">See list of available contacts.</li>
                <li class="list-group-item list-group-item-secondary">Add new contact to list.</li>
                <li class="list-group-item list-group-item-success">Edit/Modify existing contact information.</li>
                <li class="list-group-item list-group-item-danger">Delete/Remove available contact information from the list</li>
            </ul>
            <br />
            <br />
            <a class="btn btn-outline-success btn-lg" href="/ContInfoWebMethod/ManageView">Click here to manage contact information »</a>
        </div>
    </div>
</body>
</html>

