
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/_Layout.cshtml";
}

<div style="margin-left:35%">
    <span>Error</span>
    The server has not found anything matching the Request-URI.
</div>


